.topnav {
    background-color:white;
    overflow: hidden;
  }
  
  .topnav {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .homep1 {
    background-color: white;
    color: tomato;
  }

  .homep2 {
    background-color: white;
    color: blue;
}

  .homep3 {
    background-color: white;
    color: rgb(255, 0, 221);
    scrollbar-highlight-color: cornflowerblue;
}

  .span1 {
    background-color: white;
    color: red;
}

  .list {
    background-color: yellow;
    color: black;
}

